<section id="container" style="float:left">
    <!-- **********************************************************************************************************************************************************
    TOP BAR CONTENT & NOTIFICATIONS
    *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header white-bg">
            <div class="sidebar-toggle-box" ng-click="showMenu = ! showMenu"> <!--here  -->
                <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
            </div>
          <!--logo start-->
          <a href="index.html" class="logo"><img width="150" src="img/instrument-works.png"></a>
          <!--logo end-->
          <div class="nav notify-row" id="top_menu">
              <!--  notification start -->
              
          </div>
          <div class="top-menu">
          	<ul class="nav pull-right top-menu">
                  <li><button ng-click="logout()" ng-model="login_btn" class="logout btn">Logout</button></li>
          	</ul>
          </div>
          
    </header>
    
          <!-- **********************************************************************************************************************************************************
          MAIN SIDEBAR MENU
          *********************************************************************************************************************************************************** -->
          <!--sidebar start-->
          
          <aside>
              <!-- class="nav-collapse -->
                    <div id="sidebar"  class="nav-collapse" ng-hide="showMenu" >
                        <!-- sidebar menu start-->
                        <section id="menu" style="float:left">
                        <ul class="sidebar-menu" id="nav-accordion">
                            <li class="">
                                <a ng-click="dashboard()" class="" href="">
                                    <i class="fa fa-dashboard"></i>
                                    <span>Dashboard</span>
                                </a>
                            </li>
                            <li class="" >
                                <a ng-click="showDetails = ! showDetails" class="" href="">
                                	<i class="fa fa-th"></i>
                                    <span>Datasets</span>
                                </a>
                                <div ng-show="showDetails">
                                <ul class="" ng-repeat="data in myDataSets">
                                    <li><a ng-click="dataset(data)" href="" >{{ data.get('datasetName') }}</a>
                                    </li>
                                </ul>
                                </div>
                            </li>
                             <li class="" >
                                <a ng-click="showDevices = ! showDevices" class="" href="">
                                	<i class="fa fa-cogs"></i>
                                    <span>Devices</span>
                                </a>
                                <div ng-show="showDevices">
                                <ul class="" ng-repeat="device in myDevices">
                                    <li><a ng-click="getCurrentDevice(device)" href="" >{{ device.get('customName') }}</a>
                                    </li>
                                </ul>
                                </div>
                            </li>
                            <!--<li>
                                <a ng-click="devices()" class="" href="">
                                	<i class="fa fa-cogs"></i>
                                    <span>Devices</span>
                                </a>
                            </li> -->
                        </ul>
                        <!-- sidebar menu end-->
                            </section>
                    </div>
                </aside>
          <!--sidebar end-->
          <section id="main-content"  >
	          <section class="wrapper">          
		          <div ng-switch="subview" style="float:left">
		          	<div ng-switch-when="dashboard" ng-include="'partials/dashboardDetail.html'"></div>
		          	<div ng-switch-when="dataset" ng-include="'partials/datasetDetail.html'"></div>
		          	<div ng-switch-when="device" ng-include="'partials/deviceDetail.html'"></div>
		          </div>
		          	<!-- Include View Content. -->
		            	
		          
		          </div>
	          </section>
          </section>
          
          