
  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="index.html" class="logo"><b>Instrument Works</b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    <!-- settings start -->
                 
                </ul>
                <!--  notification end -->
            </div>
            <div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    <li><a class="logout" href="login.html">Logout</a></li>
            	</ul>
            </div>
        </header>
      <!--header end-->
      
   
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
              	  <p class="centered"><a href="profile.html"><img src="assets/img/ui-sam.jpg" class="img-circle" width="60"></a></p>
              	  <h5 class="centered">Instrument Works </h5>
              	  	
                  <li class="mt">
                      <a class="active" href="index.html">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>

                
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-th"></i>
                          <span>Data Tables</span>
                      </a>
                      <ul class="sub" ng-repeat="data in myDataSets">
                          <li><a  href="#/datapoint">{{ data.get('datasetName') }}</a></li>
                      </ul>
                  </li>
                  
                

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">

              
					
					<div class="row mt">
						
                        
                      sdfdsf  {{TestingDataPoints}}
                      dfds  
						<center><h3> Main Page  {{TestingDataPoints.length }}</h3><center>
                     
                            <table class="table">
                                  <tr>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Location</th>
                                    <th>Requests</th>
                                    <th>&nbsp;</th>
                                  </tr>  
                                   
                                  <tr ng-repeat="data in TestingDataPoints" >
                                    <td>{{ data.get('datasetName') }}</td>
                                    <td>{{ test.get('datasetNotes') }}</td>
                               <!--     <td> {{test.get('datasetOwner') }}</td>  
                                <td>{{ book.get('location') }}</td>
                                    <td>{{ book.get('requestCount') }}</td> -->
                                    <td>
                                      <ul>
                                       <button class="btn" ng-click="getDataPoint(data)">DataPoint</button>

                                       <!-- <li ng-show="book.get('status') == 'Available'"><a href="">Delete</a></li> -->
                                         <!-- <li ng-show="getDataPoint(data)"> test</li> -->
                                      </ul>
                                    </td>

                                  </tr>
            </table>
                      
					</div><!-- /row -->	  

					
                  </div><!-- /col-lg-9 END SECTION MIDDLE -->
                  
                  
      <!-- **********************************************************************************************************************************************************
      RIGHT SIDEBAR CONTENT
      *********************************************************************************************************************************************************** -->                  
                  
                  
          </section>
      </section>

      <!--main content end-->
      <!--footer start-->
      <center><footer class="site-footer">
          <div class="text-center">
              2015 - Instrument Works 
             <!-- <a href="index.html#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a> -->
          </div>
      </footer> </center>