<h3> Devices </h3>
<div class="row">
	<!-- TWITTER PANEL -->
	<div class="col-lg-4 col-md-4 col-sm-4 mb">
		<div class="twitter-panel pn">
			<i class="fa fa-twitter fa-4x"></i>
			<p>Dashgum is here! Take a look and enjoy this new Bootstrap Dashboard theme.</p>
			<p class="user">@Alvrz_is</p>
		</div>
	</div><!-- /col-md-4 -->
	<div class="col-lg-4 col-md-4 col-sm-4 mb">
		<div class="twitter-panel pn">
			<i class="fa fa-twitter fa-4x"></i>
			<p>Dashgum is here! Take a look and enjoy this new Bootstrap Dashboard theme.</p>
			<p class="user">@Alvrz_is</p>
		</div>
	</div><!-- /col-md-4 -->
	<div class="col-lg-4 col-md-4 col-sm-4 mb">
		<div class="twitter-panel pn">
			<i class="fa fa-twitter fa-4x"></i>
			<p>Dashgum is here! Take a look and enjoy this new Bootstrap Dashboard theme.</p>
			<p class="user">@Instrument Works</p>
		</div>
	</div><!-- /col-md-4 -->
</div>