<div>
    <tabs>
        <pane heading="Public Books">
          <div id="books-panel">
            <h2>List of all Data Sets </h2>
            <div>
              Search: <input ng-model="query1">
            </div>
            </br>
            <table class="table">
              <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Location</th>
                <th>Owner</th>
                <th>Requests</th>
                <th>&nbsp;</th>
              </tr>  
              <tr ng-repeat="book in bookList | filter:query1 | orderBy:orderProp">
                <td>{{ book.get('datasetName') }}</td>
                <td>{{ book.get('datasetNotes') }}</td>
                <td>{{ book.get('datasetOwner') }}</td>
                <!--<td>{{ book.get('owner') }}</td>
                <td>{{ book.get('requestCount') }}</td>
                <td ng-show="book.get('status') == 'Available'"><button class="btn" ng-click="borrow(book)">Borrow</button></td>-->
              </tr>
            </table>
            
 
          </div>
        </pane>
    <!-- data sets start here -->
        <pane heading="My Books">
          <p ng-show="myDataSets.length == 0">You have no books</p>
          <div ng-show="myDataSets.length > 0">
            <h2 >List of all your Books</h2>
            <div>
              Search: <input ng-model="query2">
            </div>
            </br>
            <table class="table">
              <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Location</th>
                <th>Requests</th>
                <th>&nbsp;</th>
              </tr>  
                <td>
                    <tr> {{myDataSets.length }}</tr>
                </td>
              <tr ng-repeat="data in myDataSets | filter:query2">
                <td>{{ data.get('datasetName') }}</td>
                <td>{{ data.get('datasetNotes') }}</td>
                <td> {{data.get('datasetOwner') }}</td>  
               <!-- <td>{{ book.get('location') }}</td>
                <td>{{ book.get('requestCount') }}</td> -->
                <td>
                  <ul>
                   <button class="btn" ng-click="getDataPoint(data)">DataPoint</button>
                      
                      <li><a href="">Edit</a></li>
                   <!-- <li ng-show="book.get('status') == 'Available'"><a href="">Delete</a></li> -->
                     <!-- <li ng-show="getDataPoint(data)"> test</li> -->
                  </ul>
                </td>  
              </tr>
            </table>
            
      <!--      <table class="table">
                <tr>
                    <th>Column 1</th>
                    <th>Column 2</th>
                    <th>Column 3</th>
                    <th> Column 4</th>
                    <th> Column 5</th>
                </tr>
                <tr>
                    <td>dfds</td>
                    <td> sdsfgdg</td>
                </tr>
                <tr ng-repeat="data in myDataSets2">
                    <td>{{data.get('datasetOwner') }}</td>
                   <td>{{data.get('objectid')}}</td> 
                    <div ng-show="getDataPoint(data)">
                         
                    </div>
                    <td></td>
                </tr>
                
                
            </table> -->
            
          </div>
          </br>
          <button class="btn" ng-click="add()">Add Book</button>
        </pane>
        <!--  <pane heading="Book Requests">
          <p ng-show="requests.length == 0">You have no requests</p>
          <div ng-show="requests.length > 0">
            <h2 >List of all your Requests</h2>
            </br>
            <table class="table">
              <tr>
                <th>Book</th>
                <th>Borrower</th>
                <th>Status</th>
                <th>Date Borrowed</th>
                <th>Date Returned</th>
                <th>&nbsp;</th>
              </tr>  
              <tr ng-repeat="request in requests">
                <td>{{ request.get('book') }}</td>
                <td>{{ request.get('borrower') }}</td>
                <td>{{ request.get('status') }}</td>
                <td>{{ request.get('date_borrowed') | date:"MM/dd/yyyy @ h:mma" }}</td>
                <td>{{ request.get('date_returned') | date:"MM/dd/yyyy @ h:mma" }}</td>
                <td>
                  <button class="btn" ng-show="request.get('status') == 'Pending'" ng-click="accept(request)">Accept</button>
                  <button class="btn" ng-show="request.get('status') == 'Pending'" ng-click="reject(request)">Reject</button>
                </td>
              </tr>
            </table>
          </div>
        </pane>-->
    </tabs>
    <div class="row-fluid">
      </br>
      </br>
      <button class="btn" ng-click="logout()">Logout</button>
    </div>
</div>