Test Table


<div>
    <table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" class="row-border hover"></table>
</div>
<!-- 
<div class="panel panel-default">
    <table class="table table-condensed" >
        <thead>
            <tr>
                <th>Col1</th>
                <th>Col2</th>
                <th>Col3</th>
            </tr>
        </thead>
    </table>

<div class="div-table-content">
    <table class="table table-condensed">
        <tbody>
            <tr>
                <td>data</td>
                <td>more data</td>
                <td>hello world, nice to see you again, and what a beautiful fixed header
                    column you have</td>
            </tr>
            <tr>
                <td >data</td>
                <td >more data</td>
                <td >hello world, nice to see you again, and what a beautiful fixed header
                    column you have</td>
            </tr>
            <tr>
                <td >data</td>
                <td >more data</td>
                <td >hello world, nice to see you again, and what a beautiful fixed header
                    column you have</td>
            </tr>
            <tr>
                <td >data</td>
                <td >more data</td>
                <td >hello world, nice to see you again, and what a beautiful fixed header
                    column you have</td>
            </tr>
            <tr>
                <td >data</td>
                <td >more data</td>
                <td >hello world, nice to see you again, and what a beautiful fixed header
                    column you have</td>
            </tr>
            <tr>
                <td >data</td>
                <td >more data</td>
                <td >hello world, nice to see you again, and what a beautiful fixed header
                    column you have</td>
            </tr>
             <tr>
                <td >data</td>
                <td >more data</td>
                <td >hello world, nice to see you again, and what a beautiful fixed header
                    column you have</td>
            </tr>
             <tr>
                <td >data</td>
                <td >more data</td>
                <td >hello world, nice to see you again, and what a beautiful fixed header
                    column you have</td>
            </tr>
             <tr>
                <td >data</td>
                <td >more data</td>
                <td >hello world, nice to see you again, and what a beautiful fixed header
                    column you have</td>
            </tr>
             <tr>
                <td >data</td>
                <td >more data</td>
                <td >hello world, nice to see you again, and what a beautiful fixed header
                    column you have</td>
            </tr>
             <tr>
                <td >data</td>
                <td >more data</td>
                <td >hello world, nice to see you again, and what a beautiful fixed header
                    column you have</td>
            </tr>
             <tr>
                <td >data</td>
                <td >more data</td>
                <td >hello world, nice to see you again, and what a beautiful fixed header
                    column you have</td>
            </tr>
             <tr>
                <td >data</td>
                <td >more data</td>
                <td >hello world, nice to see you again, and what a beautiful fixed header
                    column you have</td>
            </tr>
            
             <tr>
                <td >data</td>
                <td >more data</td>
                <td >hello world, nice to see you again, and what a beautiful fixed header
                    column you have</td>
            </tr>
             <tr>
                <td >data</td>
                <td >more data</td>
                <td >hello world, nice to see you again, and what a beautiful fixed header
                    column you have</td>
            </tr>
             <tr>
                <td >data</td>
                <td >more data</td>
                <td >hello world, nice to see you again, and what a beautiful fixed header
                    column you have</td>
            </tr>
             <tr>
                <td >data</td>
                <td >more data</td>
                <td >hello world, nice to see you again, and what a beautiful fixed header
                    column you have</td>
            </tr>
             <tr>
                <td >data</td>
                <td >more data</td>
                <td >hello world, nice to see you again, and what a beautiful fixed header
                    column you have</td>
            </tr>
             <tr>
                <td >data</td>
                <td >more data</td>
                <td >hello world, nice to see you again, and what a beautiful fixed header
                    column you have</td>
            </tr>
            
        </tbody>
    </table>
</div>

  <table class="table" style="table-layout:fixed">
        <thead>
            <tr>
                <th>Col1</th>
                <th> Col2</th>
                <th> Col3</th>
                <th> Col4</th>
                <th> Col5</th>
                <th> Col6</th>
                <th> Col7</th>
                <th> Col8</th>
                <th> Col 9</th>
            </tr>
        </thead>
  </table>
  <div style="overflow-y:auto;">
    <table class="table table-condensed" style="table-layout:fixed">
        <tbody>
            <tr>
                <td>data</td>
                <td> data2</td>
                <td> Data 3</td>
                <td> Data 4</td>
                <td> data 5</td>
                <td> data 6</td>
                <td>data 7</td>
                <td> Data 8</td>
                <td> data 9</td>
            </tr>
             <tr>
                <td>data</td>
                <td> data2</td>
                <td> Data 3</td>
                <td> Data 4</td>
                <td> data 5</td>
                <td> data 6</td>
                <td>data 7</td>
                <td> Data 8</td>
                <td> data 9</td>
            </tr>
             <tr>
                <td>data</td>
                <td> data2</td>
                <td> Data 3</td>
                <td> Data 4</td>
                <td> data 5</td>
                <td> data 6</td>
                <td>data 7</td>
                <td> Data 8</td>
                <td> data 9</td>
            </tr>
             <tr>
                <td>data</td>
                <td> data2</td>
                <td> Data 3</td>
                <td> Data 4</td>
                <td> data 5</td>
                <td> data 6</td>
                <td>data 7</td>
                <td> Data 8</td>
                <td> data 9</td>
            </tr>
             <tr>
                <td>data</td>
                <td> data2</td>
                <td> Data 3</td>
                <td> Data 4</td>
                <td> data 5</td>
                <td> data 6</td>
                <td>data 7</td>
                <td> Data 8</td>
                <td> data 9</td>
            </tr>
             <tr>
                <td>data</td>
                <td> data2</td>
                <td> Data 3</td>
                <td> Data 4</td>
                <td> data 5</td>
                <td> data 6</td>
                <td>data 7</td>
                <td> Data 8</td>
                <td> data 9</td>
            </tr>
        </tbody>
    </table>
 </div> -->